= form_tag reply_conversation_path(conversation), method: :post do
  .row
    .input-field.col.s12.l9
      .card.blue-grey
        .card-content
          .card-title Reply:
          = text_area_tag 'body', nil, class: 'materialize-textarea', required: true
    .col.s12.l
      = submit_tag 'Send Message', class: 'btn'
