.container
  .row.center-align
    .col.s12.m6.offset-m3.l4.offset-l4
      %h1.orange-text Log in
  = render 'form'
  .row
    .col.s12.m6.offset-m3.l4.offset-l4
      Don't have an account?
      = link_to "Register here", signup_path, class: 'waves-effect waves-light btn'
