<div class="container">
  <div class="row center-align">
    <h1 class="orange-text"> Log in</h1>
  </div>
  <%= render 'form' %>
  <div class="row">
    <div style="margin-top: 20px;">
      Don't have an account?
      <div style="margin-left:5px; display: inline">
        <%= link_to "Register here", signup_path, class: 'waves-effect waves-light btn' %>
      </div>
    </div>
  </div>
</div>
