<div class="col-md-offset-4 col-md-4">
  <h1> Log in</h1>
  <%= render 'form' %>
  <div style="margin-top: 20px;">
    Don't have an account?
    <div style="margin-left:5px; display: inline">
      <%= link_to "Register here", signup_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>
