.container
  .row.center-align
    .col.s12.m6.offset-m3.l4.offset-l4
      %h1.orange-text Sign Up
  = render 'form'
  .row
    .col.s12.m6.offset-m3.l4.offset-l4
      Already have an account?
      = link_to "Log in here", login_path, class: 'waves-effect waves-light btn'
