<div class="user-list dropup">
  <button  class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button"><i class="material-icons">people</i></button>
  <ul class="dropdown-menu">
    <% current_users.each do |user| %>
      <%= link_to user do %>
        <li class="dropdown-item">
          <%= image_tag(user.picture, size:'40x40', class: 'img-circle') if user.picture? %>
          <%= image_tag("#{asset_path('users/image_missing.jpg')}", size: '40x40', class: 'img-circle') if user.picture.blank? %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
