<div>
  <h3>Online users:</h3>
  <ul>
    <% current_users.each do |user| %>
      <%= link_to user do %>
        <li style="display: inline"><%= user.name %></li>
      <% end %>
    <% end %>
  </ul>
</div>
