.container
  .row
    .col.s12.m6.l8.offset-m3.offset-l2
      .card.white
        .card-content
          %h2.orange-text Welcome to the store!
          %h5 This place is under contruction but for now bla bla.
        .card-action
          = link_to "Get Started", products_path
