@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";

.alert{
  z-index: 100;
}

@keyframes fade-out-in {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;

  }
}

#alert-fade-out {
  display: block;
  text-align: center;
  position: fixed;
  right: 100px;
  animation: fade-out-in 0.7s 1;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  z-index: 100;
}
