.user-list {
  z-index: 1;
  position: fixed;
  bottom: 0%;
  right: 0;
  .dropdown-menu{
    min-width: 100%;
    overflow: hidden;
    a{
      color: black;
      text-align: center;
      text-decoration: none;
      
    }

}
}
