<div id="footer">
  <div class="container">
  <% if logged_in? %>
    <%= render 'shared/current_users' %>
  <% end %>

    <ul class="list-group list-inline text-right">
      <li class="list-group-item"><%= link_to "Home", root_url %></li>
      <li class="list-group-item"><%= link_to "Help", pages_help_url %></li>
      <li class="list-group-item"><%= link_to "Contact", pages_contact_url %></li>
    </ul>
  </div>
</div>
